apiVersion: apps/v1
kind: Deployment
metadata:
  name: config-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: config-service
  template:
    metadata:
      labels:
        app: config-service
    spec:
      containers:
        - name: config-service
          image: bigbenj4/config-service:latest
          imagePullPolicy: Always
          ports:
            - containerPort: 8081
          env:
            - name: URL_CONFIG
              valueFrom:
                configMapKeyRef:
                  name: microservices-config
                  key: URL_CONFIG
---
apiVersion: v1
kind: Service
metadata:
  name: config-service
spec:
  selector:
    app: config-service
  ports:
    - port: 8081
      targetPort: 8081
  type: ClusterIP
