server:
  port: 8081

spring:
  application:
    name: config-service
  docker:
    compose:
      enabled: false
  cloud:
    config:
      server:
        git:
          default-label: main
          uri: https://github.com/Benjahern/Tingeso
          search-paths: "EVALUACION 2/Microservices/config-data"
