server:
  port: 8080

logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.cloud.gateway: DEBUG

spring:
  application:
    name: gateway-service
  config:
    import: "optional:configserver:${URL_CONFIG:http://localhost:8081}"
  main:
    web-application-type: reactive
  security:
    oauth2:
      resourceserver:
        jwt:
          issuer-uri: ${KEYCLOAK_URL:http://localhost:8090}/realms/tingeso

eureka:
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://${EUREKA_HOST:localhost}:${EUREKA_PORT:8761}/eureka/
  instance:
    prefer-ip-address: true

spring.cloud.gateway:
  discovery:
    locator:
      enabled: true
      lower-case-service-id: true
  default-filters:
    - TokenRelay
